<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- linking a css Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Authors</title>
</head>
<body>
    <div class="container d-flex justify-content-around">
        <div>
            <h1 class="mt-5 mb-5">New Author</h1>
            <form action="/create_author" method="POST">
                <div class="form-group d-flex gap-5">
                    <label for="Name">Name:</label>
                    <input type="form-text" class="form-control border-secondary" id="Name" name="Name">
                </div>
                <br>
                <input type="submit" class="btn btn-primary  ml-95" value="Create">
            </form>
        </div>
        <div>
            <h1 class="mt-5 mb-5">All Authors</h1>
            <div class="elt border border-secondary">
                {% for elt in all_authors %}
                <li><a href="/authors/{{ elt.id }}">{{ elt.name }}</a></li>
                {% endfor %}
            </div>
            <br>
            <a href="/books">Add Book</a>
        </div>
    </div>
</body>
</html>